@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


@layer utilities{
  .sections{
    @apply px-5 md:px-10 xl:px-[120px] min-h-[400px] mt-2 md:my-5
  }

  .px{
    @apply px-5 md:px-10 xl:px-[120px]
  }

  .bgHeaderText{
    @apply text-[32px] lg:text-[64px] leading-[36px] md:leading-[96px] font-semibold text-whites-100
  }

  .heading2{
    @apply text-[30px]
  }

  .heading3{
    @apply text-center  text-[32px] md:text-[40px] font-semibold leading-[40px] md:leading-[60px] text-blacks-200
  }

  .heading4{
    @apply  text-[24px] md:text-[32px] font-medium leading-[40px] md:leading-[60px] text-blacks-200
  }

  .button{
    @apply py-4 text-whites-100 rounded-[10px] bg-purples-200 px-8
  }

  .input{
    @apply border-2 p-2 rounded-lg outline-none w-full bg-white
  }

  .stepsCard{
    @apply grid gap-5
  }
}